html, body{
    -webkit-overflow-scrolling: touch;
}

// Styled scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: $body-background;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 5px;
    &:hover{
        background: $primary-dark;
    }
}
::selection {
    background: rgba($primary-color, 0.5);
    // background: red;
}

// Drop autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $black;
}

.wrap {
    overflow: hidden;
    min-width: 320px;
    // flex-direction: column;
    // align-items: stretch;
    // justify-content: flex-start;
    // min-height: 100vh;
    padding-right: 75px;
    @include breakpoint(small down){
        padding-right: 0;
    }
}

a{
    transition: color 400ms;
    -webkit-tap-highlight-color: rgba($primary-color, 0.5);
}

svg{
    display: block;
}

.js-off-canvas-overlay{
    -webkit-tap-highlight-color: transparent;
}

.label{
    margin-right: 10px;
    &:last-child{
        margin: 0;
    }
}

textarea{
    padding: 15px 20px;
    min-height: 58px;
}

blockquote{
    background-image: url('data:image/svg+xml,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"28"%20height%3D"22"%20viewBox%3D"0%200%2028%2022"><path%20fill%3D"%23ffcb01"%20d%3D"M20.981%2022c-1.742%200-3.21-.684-4.405-2.053-1.195-1.37-1.792-3.105-1.792-5.207%200-2.836%201.033-5.659%203.099-8.47C19.948%203.459%2022.5%201.369%2025.536%200L28%205.133c-1.244.88-2.24%201.736-2.987%202.567-.746.831-1.244%201.736-1.493%202.713.896.294%201.742.978%202.539%202.054.796%201.075%201.194%202.224%201.194%203.446%200%201.516-.622%202.91-1.866%204.18C24.142%2021.364%2022.674%2022%2020.98%2022zM6.272%2022c-1.742%200-3.223-.684-4.443-2.053C.61%2018.577%200%2016.842%200%2014.74c0-2.836%201.033-5.659%203.099-8.47C5.164%203.459%207.74%201.369%2010.827%200l2.389%205.133c-1.244.88-2.24%201.736-2.987%202.567-.746.831-1.244%201.736-1.493%202.713.946.245%201.792.917%202.539%202.017.746%201.1%201.12%202.261%201.12%203.483%200%201.516-.61%202.91-1.83%204.18C9.345%2021.364%207.915%2022%206.272%2022z"%2F><%2Fsvg>');
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: 1em;
    @include breakpoint(small down){
        background-size: 23px;
        font-size: 14px;
        margin-bottom: 32px;
    }
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
    &:not(textarea){
        padding: 0 20px;
        line-height: 55px;
    }
    @include breakpoint(small down){
        height: auto;
        font-size: 1rem;
        padding: 13px 20px;
        &:not(textarea){
            line-height: 44px;
            padding: 0 20px;
        }
    }
    &::placeholder{
        transition: 500ms;
    }
}