.form{
    position: relative;
    margin-top: 200px;
    padding: 0 60px;
    @include breakpoint(small down){
        margin-top: 150px;
        padding: 0 30px;
    }
    &::after{
        content: '';
        position: absolute;
        right: 0;
        top: 254px;
        width: calc(50% - (965px / 2) + 60px);
        height: 145px;
        background: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2220%22%20viewBox%3D%220%200%2021%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20fill%3D%22%23FBDA5A%22%20cx%3D%222%22%20cy%3D%222%22%20r%3D%222%22%2F%3E%3C%2Fsvg%3E');
        @include breakpoint(large down){
            width: 135px;
        }
        @include breakpoint(medium down){
            top: 252px;
            width: 105px;
            height: 244px;
        }
        @include breakpoint(small down){
            display: none;
        }
    }
    &_header{
        color: $medium-gray;
        font-size: 22px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 17px;
        @include breakpoint(small down){
            font-size: 15px;
            font-size: 4.4vw;
            margin-bottom: 14px;
        }
    }
    &_block{
        background-color: $main-gray;
        position: relative;
        padding: 80px 100px 100px;
        @include breakpoint(medium down){
            padding: 80px 70px 100px;
        }
        @include breakpoint(small down){
            padding: 40px 24px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            border-bottom: 10px solid $secondary-color;
            @include breakpoint(small down){
                width: 24px;
            }
        }
        &_container{
            margin-top: 80px;
            @include breakpoint(small down){
                margin-top: 60px;
            }
        }
        &_row{
            display: flex;
            @include breakpoint(medium down){
                flex-direction: column;
            }
        }
        &_bottom{
            text-align: right;
            margin-top: 40px;
            @include breakpoint(small down){
                margin-top: 35px;
            }
        }
    }
    &_input{
        width: 100%;
        margin-bottom: 30px;
        @include breakpoint(small down){
            margin-bottom: 15px;
        }
        + .form_input{
            margin-left: 25px;
            @include breakpoint(medium down){
                margin-left: 0;
            }
        }
        textarea{
            min-width: 100%;
        }
    }
    &-error{
        opacity: 0;
        transform: translateY(-10px);
        transition: 300ms;
        display: block;
        height: 0;
        @include breakpoint(small down){
            font-size: 12px;
            margin-bottom: 4px;
        }
        &.is-visible{
            opacity: 1;
            transform: translateY(6px);
            @include breakpoint(small down){
                transform: translateY(2px);
            }
        }
    }
    &_status{
        &--error{
            color: $alert-color;
        }
        &--success{
            color: $success-color;
        }
    }
}

.help-text{
    margin-top: 6px;
    font-style: normal;
    opacity: 0;
    transform: translateY(-10px);
    // color: $medium-gray;
    height: 0;
    @include breakpoint(small down){
        font-size: 12px;
    }
}