.menu{
    font-size: 36px;
    margin: auto 0;
    width: 100%;
    a{
        color: rgba($dark-gray, 0.5);
        line-height: 1.5;
        -webkit-tap-highlight-color: rgba($primary-color, 0.5);
        &:hover{
            color: $dark-gray;
        }
        &.is-active{
            color: $dark-gray;
            box-shadow: inset 6px 0 0 $primary-color;
        }
    }
    &--cats{
        display: inline-flex;
        width: auto;
        margin: 0;
        font-size: 18px;
        flex: 0 0 146px;
        margin-top: 102px;
        a{
            padding: 1px 0;
            &.is-active{
                box-shadow: none;
            }
        }
    }
}