.menu{
    font-size: 36px;
    margin: auto 0;
    width: 100%;
    flex: 0 0 auto;
    @include breakpoint(small down){
        font-size: 22px;
    }
    a{
        color: rgba($dark-gray, 0.5);
        line-height: 1.5;
        @include breakpoint(small down){
            line-height: 2.47;
            padding-left: 38px;
        }
        &:hover{
            color: $dark-gray;
        }
        &.is-active{
            color: $dark-gray;
            box-shadow: inset 6px 0 0 $primary-color;
        }
    }
    &--cats.vertical{
        display: inline-flex;
        width: auto;
        margin: 0;
        font-size: 1rem;
        flex: 0 0 146px;
        margin-top: 102px;
        @include breakpoint(small down){
            width: calc(100vw - 42px);
            flex: 0 0 auto;
            margin: 0;
            flex-direction: row;
            margin-bottom: 15px;
        }
        a{
            padding: 1px 0;
            @include breakpoint(small down){
                line-height: 1.6;
            }
            &.is-active{
                box-shadow: none;
            }
        }
    }
}