.menu{
    font-size: 36px;
    margin: auto 0;
    width: 100%;
    flex: 0 0 auto;
    @include breakpoint(small down){
        font-size: 22px;
    }
    a{
        color: rgba($dark-gray, 0.5);
        line-height: 1.5;
        @include breakpoint(small down){
            line-height: 2.47;
            padding-left: 38px;
        }
        &:hover{
            color: $dark-gray;
        }
        &.is-active{
            color: $dark-gray;
            box-shadow: inset 6px 0 0 $primary-color;
        }
    }
    &--cats{
        font-size: 1rem;
        @include breakpoint(medium only){
            font-size: 16px;
            width: calc(100vw - 150px);
            flex-wrap: nowrap;
            overflow: auto;
        }
        a{
            padding: 1px 0;
            @include breakpoint(small down){
                line-height: 1.6;
            }
            &.is-active{
                box-shadow: none;
            }
        }
    }
}