h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    letter-spacing: -0.13px;
    strong{
        position: relative;
        z-index: 1;
        white-space: nowrap;
        &::after{
            content: attr(data-line);
            font-family: monospace;
            position: absolute;
            left: -3px;
            bottom: 10px;
            z-index: -1;
            height: 22px;
            width: auto;
            background-color: $primary-color;
            color: $primary-color;
            font-size: 1.01em;
            line-height: 0;
            @include breakpoint(small down){
                height: 17px;
                bottom: 3px;
            }
        }
    }
}

.stat{
    letter-spacing: 1.76px;
    margin-bottom: 20px;
    @include breakpoint(small down){
        font-size: 36px;
        margin-bottom: 10px;
        letter-spacing: 0.85px;
    }
    img{
        vertical-align: bottom;
        margin-bottom: -2px;
        @include breakpoint(small down){
            width: 87px;
            margin: 0;
            margin-left: 5px;
        }
    }
    svg{
        vertical-align: baseline;
        display: inline;
        margin-bottom: -1px;
        margin-left: 20px;
        @include breakpoint(small down){
            width: 142px;
            height: 25px;
            margin-left: 5px;
        }
    }
}