.clients{
    margin: 200px 0;
    padding: 0 60px;
    @include breakpoint(small down){
        margin: 150px 0;
        padding: 0 30px;
    }
    &_items{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &_item{
        max-width: 265px;
        width: calc(33.33% - 56px);
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        // -webkit-filter: grayscale(100%);
        // -moz-filter: grayscale(100%);
        // -ms-filter: grayscale(100%);
        // -o-filter: grayscale(100%);
        filter: grayscale(100%);
        // filter: grayscale(1); /* Firefox 4+ */
        // filter: gray; /* IE 6-9 */
        transition: 500ms;
        @include breakpoint(large down){
            width: 33.33%;
        }
        @include breakpoint(medium down){
            width: 50%;
            max-width: none;
            &:nth-child(3n){
                display: none;
            }
        }
        @include breakpoint(small down){
            height: 111px;
            width: 100%;
            &:nth-child(2n){
                display: none;
            }
        }
        &:hover{
            filter: none;
        }
    }
}