.footer{
    margin-top: 100px;
    padding: 0 60px 100px;
    @include breakpoint(medium down){
        padding-bottom: 5px;
    }
    @include breakpoint(small down){
        margin-top: 50px;
        padding: 0 30px 0;
    }
    &_col{
        @include breakpoint(medium down){
            margin-bottom: 95px;
        }
        @include breakpoint(small down){
            margin-bottom: 80px;
            &:last-child{
                margin-bottom: 50px;
            }
        }
        &_header{
            color: $dark-gray;
            margin-bottom: 14px;
            font-weight: 700;
            a{
                color: $dark-gray;
                &:hover{
                    color: $primary-dark;
                }
            }
        }
        &_info{
            color: rgba($dark-gray, .5);
            font-size: 13px;
            line-height: 1.27;
            margin: 0;
            a{
                color: rgba($dark-gray, .5);
                &:hover{
                    color: $primary-dark;
                }
            }
        }
    }
}