.footer{
    margin-top: 100px;
    padding-bottom: 100px;
    &_col{
        &_header{
            color: $dark-gray;
            margin-bottom: 14px;
            font-weight: 700;
            a{
                color: $dark-gray;
                &:hover{
                    color: $primary-dark;
                }
            }
        }
        &_info{
            color: rgba($dark-gray, .5);
            font-size: 13px;
            line-height: 1.27;
            margin: 0;
            a{
                color: rgba($dark-gray, .5);
                &:hover{
                    color: $primary-dark;
                }
            }
        }
    }
}