.nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 75px;
    border-left: 1px solid #cfcfcf;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-color: $body-background;
    transform: translateY(0);
    transition: 400ms;
    @include breakpoint(small down){
        min-height: 42px;
        height: 42px;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #cfcfcf;
    }
    &.is_hidden{
        @include breakpoint(small down){
            transform: translateY(-42px);
        }
    }
    &_hamb{
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        width: 75px;
        position: fixed;
        top: 23px;
        right: 0;
        z-index: 14;
        transform: translateY(0);
        transition: 400ms;
        @include breakpoint(small down){
            top: 0;
            width: 42px;
            right: 3px;
        }
        &.is_hidden:not(.is_active){
            @include breakpoint(small down){
                transform: translateY(-42px);
            }
        }
        &.is_active{
            .nav_hamb{
                &_icon{
                    transform: rotate(45deg);
                }
                &_line{
                    &--top{
                        stroke-dashoffset: -98px;
                    }
                    &--bottom{
                        stroke-dashoffset: -138px;
                    }
                }
            }
        }
        &_icon{
            width: 100%;
            transition: 400ms;
        }
        &_line{
            fill:none;
            transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
            stroke: $dark-gray;
            stroke-width: 5.5;
            stroke-linecap: round;
            &--top{
                stroke-dasharray: 40 139;
            }
            &--bottom{
                stroke-dasharray: 40 180;
            }
        }
    }

    &_mobile{
        opacity: 0;
        transition: 700ms transform, 300ms opacity;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        &.is-open{
            opacity: 1;
        }
    }
}