.reviews{
    padding: 0 60px;
    @include breakpoint(small down){
        padding: 0 30px;
    }
    &_items{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &_item{
        padding: 30px 45px 22px;
        background-color: $main-gray;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        + .cell{
            @include breakpoint(medium down){
                margin-top: 50px;
            }
            @include breakpoint(small down){
                margin-top: 20px;
            }
        }
        @include breakpoint(medium down){
            min-height: 331px;
        }
        @include breakpoint(small down){
            padding: 30px 20px;
            min-height: 400px;
        }
    }
}