%dots{
    content: '';
    position: absolute;
    bottom: 0;
    height: 246px;
    background: url(data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2234%22%20viewBox%3D%220%200%2036%2034%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20fill%3D%22%23FBDA5A%22%20cx%3D%224%22%20cy%3D%224%22%20r%3D%223.5%22%2F%3E%3C%2Fsvg%3E);
    z-index: -1; 
    @include breakpoint(small down){
        background: url(data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2220%22%20viewBox%3D%220%200%2022%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20fill%3D%22%23FBDA5A%22%20cx%3D%222%22%20cy%3D%222%22%20r%3D%222%22%2F%3E%3C%2Fsvg%3E);
        height: 146px;
        width: 100%;
    }
}

.subscribe{
    position: relative;
    padding: 0 60px 92px;
    margin-bottom: 200px;
    @include breakpoint(small down){
        padding: 0 30px 47px;
        margin-bottom: 144px;
    }
    &::after{
        @extend %dots;
        right: 0;
        width: calc(50% - 12px);
        @include breakpoint(large down){
            width: calc(100% - 705px - 75px + 211px);
        }
        @include breakpoint(small down){
            width: 100%;
        }
    }
    &_form{
        display: flex;
        max-width: 705px;
        position: relative;
        @include breakpoint(small down){
            flex-direction: column;
            max-width: 315px;
        }
        input{
            height: 65px;
            padding: 0 20px;
            line-height: 61px;
            border-color: $primary-color;
            box-shadow: none;
            @include breakpoint(small down){
                line-height: normal;
                height: 48px;
            }
            &:focus{
                box-shadow: none;
                border-color: $primary-dark;
            }
        }
        @include breakpoint(medium down){
            .button{
                min-width: 160px;
            }
        }
        .help-text{
            position: absolute;
            top: 100%;
            right: 0;
        }
    }
}