.works{
    position: relative;
    margin-bottom: 200px;
    padding: 0 60px;
    @include breakpoint(small down){
        padding: 0 30px;
        margin-bottom: 150px;
        h2{
            line-height: 1.5;
        }
    }
    &_label{
        @include breakpoint(small down){
            margin-right: 20px;
        }
        &.is-active a{
            color: $dark-gray;
        }
        a{
            outline: none;
        }
    }
    &_items{
        display: flex;
        margin-top: 54px;
        @include breakpoint(medium down){
            margin-top: 48px;
        }
        @include breakpoint(small down){
            margin-top: 24px;
            flex-direction: column;
        }
    }
    &_carousel{
        width: calc(50vw + (995px / 2) - 121px - 75px);
        @include breakpoint(small down){
            width: calc(100vw - 42px);
        }
        &:not(.is-active){
            display: none;
        }
    }
    &_item{
        outline: none;
        max-width: 560px;
        width: 100%;
        float:  none;
        min-height: 100%;
        @include breakpoint(medium down){
            max-width: 400px;
        }
        @include breakpoint(small down){
            max-width: 236px;
        }
        &_video{
            position: relative;
            &:not([data-vimeo-initialized]){
                cursor: pointer;
                &::before, &::after{
                    content: '';
                    position: absolute;
                }
                &::before{
                    top: calc(50% - 20px);
                    left: calc(50% - 32.5px);
                    width: 65px;
                    height: 40px;
                    background: rgba(23,35,34,.75);
                    border-radius: 5px;
                    transition: 300ms;
                }
                &::after{
                    top: 50%;
                    left: 50%;
                    @include css-triangle(10px, $white, right);
                    border-left-width: 20px;
                    transform: translate(calc(-50% + 2px), -50%);
                    transition: 300ms;
                }
                &:hover{
                    &::before{
                        background: rgb(255, 203, 1);
                    }
                    &::after{
                        border-left-color: rgb(127, 102, 0);
                    }
                }
            }
            &[data-vimeo-initialized]{
                
            }
        }
        &_content{
            background-color: $main-gray;
            padding: 30px 45px 48px;
            flex: 1 1 auto;
            @include breakpoint(small down){
                padding: 40px 20px;
            }
            &_top{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @include breakpoint(medium down){
                    flex-direction: column;
                    margin-bottom: 9px;
                }
            }
        }
        &_header{
            margin-bottom: 2px;
            @include breakpoint(medium down){
                margin: 0;
            }
            &-link{
                color: $dark-gray; 
            }
        }
        &_descr{
            font-size: 13px;
            @include breakpoint(small down){
                margin: 0;
            }
        }
        a{
            outline: none;
        }
    }
}
.slick{
    &-track{
        display: flex;
        align-items: stretch;
    }
    &-slide{
        margin-right: 40px;
        @include breakpoint(medium down){
            margin-right: 30px;
        }
        @include breakpoint(small down){
            margin-right: 20px;
        }
    }
}