.works{
    position: relative;
    margin-bottom: 200px;
    padding: 0 60px;
    @include breakpoint(small down){
        padding: 0 30px;
        margin-bottom: 150px;
        h2{
            line-height: 1.5;
        }
    }
    &--full{
        margin-top: 120px;
        margin-bottom: 0;
        @include breakpoint(small down){
            margin-top: 60px;
        }
    }
    &_label{
        margin-right: 40px;
        @include breakpoint(medium down){
            margin-right: 32px;
        }
        @include breakpoint(small down){
            margin-right: 20px;
        }
        &.is-active a{
            color: $dark-gray;
        }
        a{
            outline: none;
        }
    }
    &_content{
        margin-top: 50px;
    }
    &_items{
        margin-top: 100px;
        @include breakpoint(medium down){
            margin-top: 60px;
        }
        @include breakpoint(small down){
            margin-top: 24px;
            flex-direction: column;
        }
    }
    &_carousel{
        &:not(.is-active){
            display: none;
        }
        &_slick{
            @include breakpoint(small down){
                width: calc(100vw - 42px);
                margin: 0;
            }
        }
    }
    &_item{
        outline: none;
        max-width: 560px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        @include breakpoint(medium down){
            max-width: 400px;
        }
        @include breakpoint(small down){
            &.cell:not(.works_item--full){
                max-width: 236px;
                margin: 0;
            }
        }
        &_video{
            position: relative;
            cursor: pointer;
            outline: none;
            &::before, &::after{
                content: '';
                position: absolute;
            }
            &::before{
                top: calc(50% - 15px);
                left: calc(50% - 25px);
                width: 50px;
                height: 30px;
                background: $white;
                border-radius: 5px;
                transform: translateY(10px);
                transition: opacity ease-in-out 300ms, transform 500ms;
                box-shadow: 0 0 0 10vw rgba($primary-color, 0.8);
                opacity: 0;
                @include breakpoint(small down){
                    box-shadow: 0 0 0 50vw rgba($primary-color, 0.8);
                }
            }
            &::after{
                top: 50%;
                left: 50%;
                @include css-triangle(6px, $dark-gray, right);
                border-left-width: 14px;
                transform: translate(calc(-50% + 2px), calc(-50% + 10px));
                transition: 500ms;
                opacity: 0;
            }
            &:hover, &:focus{
                &::before{
                    opacity: 1;
                    transform: translateY(0);
                }
                &::after{
                    opacity: 1;
                    transform: translate(calc(-50% + 2px), -50%);
                }
            }
        }
        &_content{
            background-color: $main-gray;
            padding: 10px 20px;
            min-height: 96px;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            @include breakpoint(medium down){
                padding: 10px;
            }
            @include breakpoint(small down){
                padding: 20px;
            }
        }
        &_header{
            padding-bottom: 2px;
            margin-bottom: auto;
            @include breakpoint(medium only){
                font-size: 14px;
            }
            &-link{
                color: $dark-gray; 
            }
        }
        a{
            outline: none;
        }
    }
    &_bottom{
        margin-top: 50px;
        text-align: center;
    }
}

.slick{
    &-track{
        display: flex;
        align-items: stretch;
    }
    &-slide{
        margin-right: 20px;
    }
}