section.grid-container.experience
    h2.experience_item
        span.experience_item_num
            | 5
        span.experience_item_text
            | years of exellence

    h2.experience_item
        span.experience_item_num
            | 400
        span.experience_item_text
            | completed projects