section.experience
    .grid-container.experience_inner
        h2.experience_item
            span.experience_item_num
                | 5
            span.experience_item_text
                | years of excellence

        h2.experience_item
            span.experience_item_num
                | 521
            span.experience_item_text
                | completed projects