footer.footer
    .grid-container
        .grid-x.grid-margin-x.large-up-3.medium-up-2
            .cell.footer_col
                h5.footer_col_header
                    a(href="mailto:lemon@lemon.com" target="_blank")
                        | lemon@lemon.com
                p.footer_col_info
                    | Have a project in mind? 
                    br
                    | Need a wise advice? 
                    br
                    | Want to say hi? 
                    br
                    | We are excited to talk to you.
            .cell.footer_col
                h5.footer_col_header
                    a(href="mailto:job@lemon.com" target="_blank")
                        | job@lemon.com
                p.footer_col_info
                    | Have a project in mind? 
                    br
                    | Need a wise advice? 
                    br
                    | Want to say hi? 
                    br
                    | We are excited to talk to you.
            .cell.footer_col
                h5.footer_col_header
                    | lemon 2018
                p.footer_col_info
                    | 224017 Minskas, 
                    br
                    | Oberpollingen str., 264 
                    br
                    | room 300
                    br
                    a(href="tel:+395662563025") +395 66 256 30 25