section.ico
    .grid-container
        h2.stat
            | Special offer
            br
            | for 
            +icon('ico', [300, 53], '#454545')
        a.button.larger(href="https://lemon.bz/ico" target="_blank")
            | Check the landing page
            span.button_icon
                +icon('arrow', [24, 14], '#454545')