mixin project(header, descr, mod)
    .cell.projects_item(class=mod ? 'large-12 projects_item--' + mod : 'large-6')
        a.projects_item_img(href="#")
            if mod
                img(src="//picsum.photos/1250/580/?image=1076", alt=header)
                .badges
                    span.badge
                        +icon('badge_mo', [23, 38], '#c1a062')
                    span.badge
                        +icon('badge_ae', [23, 38], 'none')
            else
                img(src="//picsum.photos/936/460/?random&" + Math.random(), alt=header)
        .projects_item_content
            h3.projects_item_header
                a(href="#")
                    !=header
            p.projects_item_descr
                =descr
            .projects_item_labels
                span.label
                    | animation
                span.label
                    | crypto


section#about.projects.grid-container(data-magellan-target="about")
    h2
        | The way we challenging the status quo is
        br
        | by making our videos 
        strong(data-line=Array(18).join('.')) beautifully designed,
        br
        | unique, easy to understand. 
        br
        | Just hapenned we make 
        small animation
        | 
        | videos!    
    .grid-x.grid-margin-x.projects_items
        +project('BRD <br>animation video', 'An ecosystem for cryptocurrency payments. Minimalistic video that consists of circles, lines, lights and shades.', 'main')
        +project('Jolyy explainer', 'An ecosystem for cryptocurrency payments. Minimalistic video that consists of circles, lines, lights and shades.')
        +project('SoapBox', 'An ecosystem for cryptocurrency payments. Minimalistic video that consists of circles, lines, lights and shades.')