section.promo(data-magellan-target="main")
    #main
    .promo_logo
        //- img(src="./assets/img/logo.svg", alt="Lemon Digital")
        img(src="https://via.placeholder.com/226x76/ffcb01/454545?text=LOGO", alt="")
    .grid-container.promo_inner
        h1.promo_header
            | Everything we do, 
            br
            | we believe in challenging the status quo. 
            br
            | We believe we are thinking
            | 
            img(src="./assets/img/words/differently.png" srcset="./assets/img/words/differently.png 1x, ./assets/img/words/differently@2x.png 2x" alt="differently")
            | .
    a.promo_arrow(href="#about" data-smooth-scroll data-animation-duration="1000" data-animation-easing='swing')
        +icon('arrow', [24, 14], '#414141')