section.story
    .grid-container
        .story_block
            h2.story_header
                | Our story
            p.story_content
                | Andrew Kozik and Vlad Gindin founded Lemons (ex Lemon Digital) in 2013 after graduation from the University. In 2019 the company is represented by 18 professionals. With clients: Google, Unicef, Voxbone, AppsFlyer, Band App, XYO Network, EnjinCoin, Rubicon project, Fiverr. 
                brw
                br
                | Our team covers full cycle of 2d, 3d, frame by frame animation production. We are ready for your next animation project. 

            .story_signs
                img(srcset="./assets/img/sign1@2x.png 2x, ./assets/img/sign1.png 1x" src="./assets/img/sign1.png", alt="Signature")
                img(srcset="./assets/img/sign2@2x.png 2x, ./assets/img/sign2.png 1x" src="./assets/img/sign2.png", alt="Signature")