section#guide.subscribe(data-magellan-target="guide")
    .grid-container
        h2.stat
            | Get our 
            img(src="./assets/img/words/great.png" srcset="./assets/img/words/great.png 1x, ./assets/img/words/great@2x.png 2x" alt="great")
            br
            | process guide
        form.subscribe_form(data-abide novalidate data-id="2")
            input(type="text" name="email" placeholder="Email" required)
            button.button(type="submit")
                | Send
                include ../components/_button_icon
            .help-text(id=`formMessage2`)
            input(type="hidden" name="formtype" value="guide")