span.button_icon
    .button_icon_part.button_icon_part--arrow
        svg(viewBox='0 0 27 16', xmlns='http://www.w3.org/2000/svg')
            path(stroke='#454545', stroke-width='2.5', fill='none', fill-rule='evenodd', stroke-linecap='square' d='M2 8h21M20 2.5l5.31 5.49M20 13.402L25.402 8')

    .button_icon_part.button_icon_part--loading
        svg(viewBox='0 0 27 16', xmlns='http://www.w3.org/2000/svg')
            path(d='M24 4L14 14A2811.529 2811.529 0 0 0 3.506 3.697c-.728-.706-1.23-.197-1.23-.197s-.407.215-.232 1.03C3.206 9.944 8.017 14 13.776 14c.112 0 1.465-.087 1.625-.109a12.007 12.007 0 0 0 10.253-10.17c.08-.562-.166-.957-.378-1.221-.211-.264-.419-.5-1.005-.5H2.774', stroke='#454545', stroke-width='2.5', fill='none', fill-rule='evenodd' style="stroke-linecap: round;stroke-dasharray: 100;stroke-dashoffset: 100;")

    .button_icon_part.button_icon_part--circle
        svg(viewBox='0 0 28 28', xmlns='http://www.w3.org/2000/svg')
            path(d='M14 26c6.627 0 12-5.373 12-12 0-.112-.087-1.465-.109-1.624C25.098 6.516 20.076 2 14 2 7.373 2 2 7.373 2 14s5.373 12 12 12z', stroke='#454545', stroke-width='2.5', fill='none', fill-rule='evenodd' style="stroke-linecap: round;stroke-dasharray: 100;stroke-dashoffset: 100;")

    .button_icon_part.button_icon_part--check
        svg(viewBox='0 0 25 16', xmlns='http://www.w3.org/2000/svg')
            path(d='M23.43 4l-9.987 9.912L7.5 8.17 1.909 2.863A.5.5 0 0 1 2.253 2h21.178', stroke='#454545', stroke-width='2.5', fill='none', fill-rule='evenodd' style="stroke-dasharray: 100;stroke-dashoffset: 100;")
