a.promo_logo(href=(page == 'project') ? './#main' : '#main' data-smooth-scroll data-animation-duration="1000" data-animation-easing='swing')
    //- img(src="./assets/img/logo.svg", alt="Lemon Digital")
    img(src="https://via.placeholder.com/226x76/ffcb01/454545?text=LOGO", alt="")