a.promo_logo(href=(page != 'main') ? '/#main' : '#main' data-smooth-scroll data-animation-duration="1000" data-animation-easing='swing')
    img(src="/assets/img/logo.svg", alt="Lemons")

a.promo_mail(href="mailto:hi@lemons.studio" target="_blank")
    +icon('mail', [31, 22], '#fed95d')
    | hi@lemons.studio
