#video.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    #workVideo.responsive-embed.reveal_video
    +hamb()(class="is_active nav_hamb--video" aria-label="Close project" data-close)