section.project
    //- include ../components/_logo
    //- .grid-container
    #projectVideo.responsive-embed.project_video
    .project_content
        h1.project_title
        //- .project_labels
        .badges.badges--project
        .project_info
            .project_info_content
                .project_info_top.project_info_top--client
                    strong Client
                    span
                .project_info_top.project_info_top--type
                    strong Type
                    span
                .project_info_text
            .project_info_logo
        a.project_link(href="#" target="_blank")
            | link to project
            +icon('arrow', [22, 13], '#454545', [24, 14])
    .grid-x.grid-margin-x.project_images