block const
-
    const title  = `${name ?  name + ' - ' : ''}Lemons`;
    const descr  = 'Lemons (ex-Lemon Digital) animation studio';
    const domain = 'lemons.studio'

//- Components
include components/_menu
include components/_social
include components/_form
include components/_icons

doctype html
html(lang="en")
    include components/_head
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-P2QP3J8', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        main.off-canvas-content.wrap(data-off-canvas-content)
            include sections/_nav
            block content
            include sections/_footer
            //- include components/_popup
        include components/_offcanvas
        block js
            script(src="./js/app.min.js")