extends ../_layout
block const
    - const page = 'main'
block content
    include ../sections/_promo
    include ../sections/_projects
    include ../sections/_achievements
    +form(`Let's discuss<br>your <strong data-line=${Array(9).join('.')}>project!</strong>`)
    include ../sections/_clients
    include ../sections/_subscribe
    include ../sections/_works
    include ../sections/_ico
    include ../sections/_team
    include ../sections/_story
    include ../sections/_advisors
    include ../sections/_experience
    include ../sections/_reviews
    +form(`Drop us <br>a <strong data-line=${Array(6).join('.')}>line!</strong>`, 'contacts')