extends ../_layout
block const
    -
        const page = 'project'
        const name = 'BRD animation video'
block content
    include ../sections/_project
    +form(`Wanna something <br><strong data-line=${Array(9).join('.')}>like this?</strong>`, 'Write some details')
